name: Keep Alive

on:
  schedule:
    - cron: '0 0 1 * *'  # 每月1号运行
  workflow_dispatch:  # 允许手动触发

jobs:
  keepalive:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: gautamkrishnar/keepalive-workflow@v2
